body {
    background-color: rgb(106, 106, 121);
}

#body-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    background-color: lightgray;
    padding: 5px;
}

#calculator-div {
    background-color: rgb(67, 67, 121);
    border: 5px solid rgb(55, 55, 100);
    border-radius: 7.5%;
    box-shadow: 2px 2px 2px black;
    width: 100px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

#calc-buttons {
    flex-wrap: wrap;
    padding: 5px;
}

p {
    font-size: 10px;
    color: white;
}